openapi: 3.1.0
info:
  title: Unified Platform API
  version: '2026-04-01'
  description: |
    REST API for the Unified Platform — Phase A (core operations) and Phase B
    (scheduling engine, billing, org hierarchy, widget, waitlist). JSON request
    and response bodies. Standard HTTP verbs and status codes.

    ## Authentication

    | Method | Header | Use case |
    |--------|--------|----------|
    | JWT Bearer | `Authorization: Bearer <jwt>` | User sessions (RS256, 15 min access / 7 day refresh) |
    | API Key | `Authorization: Bearer sk_live_...` | Server-to-server (`sk_test_` for sandbox) |
    | Widget Session | `X-Widget-Session: ws_...` | Embeddable booking widget (30 min TTL) |

    JWT claims: `tid` (tenant), `lid` (location), `roles[]`.

    ## Pagination

    List endpoints use ID-based cursor pagination:

    | Parameter | Type | Description |
    |-----------|------|-------------|
    | `limit` | integer | Items per page (1–100, default 10) |
    | `starting_after` | string | Object ID — page after this object |
    | `ending_before` | string | Object ID — page before this object |

    Response envelope:
    ```json
    { "object": "list", "url": "/v1/customers", "has_more": true, "data": [...] }
    ```

    ## Expanding Objects

    Related objects return as IDs by default. Expand inline with `?expand[]=field`:

        GET /v1/orders/ord_123?expand[]=customer&expand[]=bookings

    Max depth: 4 levels.

    ## Errors

    ```json
    {
      "error": {
        "type": "validation_error",
        "code": "BOOKING_SLOT_UNAVAILABLE",
        "message": "The requested time slot is no longer available.",
        "param": "slot_id",
        "request_id": "req_abc123",
        "doc_url": "https://docs.platform.io/errors/BOOKING_SLOT_UNAVAILABLE"
      }
    }
    ```

    Types: `api_error` | `validation_error` | `business_error` | `idempotency_error`.

    ## Idempotency

    POST requests accept `Idempotency-Key` header (UUID). Cached 24h.
    Reuse with different params → 409 Conflict.

    ## Versioning

    Primary: URL path (`/v1/`). Per-request override: `X-API-Version` header.

    ## Request IDs

    Every response includes `Request-Id` header.

    ## Metadata

    Most mutable resources accept `metadata` — up to 50 key-value string pairs.
  contact:
    name: Platform Engineering
    email: engineering@platform.io
  license:
    name: Proprietary

servers:
  - url: https://api.platform.io
    description: Public API
  - url: https://api-admin.platform.io
    description: Admin API (private ALB — org hierarchy, billing admin, system admin)

security:
  - bearerAuth: []

tags:
  - name: Auth
    description: Login, logout, token refresh, MFA, SSO, and session management
  - name: Tenants
    description: Tenant configuration and settings
  - name: Locations
    description: Venue locations within a tenant
  - name: Users
    description: Staff users, roles, and permissions
  - name: Time Clock
    description: Staff clock-in / clock-out entries
  - name: Customers
    description: Customer profiles, payment methods, credits, and segments
  - name: Participants
    description: Activity participants linked to customers
  - name: Waivers
    description: Digital waiver templates and signatures
  - name: Reviews
    description: Customer reviews and ratings
  - name: Products
    description: Product catalog with pricing tiers, extras, and questions
  - name: Scheduling
    description: Schedules, resources, availability blocks, and capacity management
  - name: Booking
    description: Shopping carts, orders, bookings, and walk-in flows
  - name: Payments
    description: Payment processing, refunds, tax rates, fee rules, and cash drawers
  - name: POS
    description: Point-of-sale checks, menu layouts, and device management
  - name: Racing
    description: Heats, lap timing, leaderboards, tracks, and live timing feeds
  - name: Promotions
    description: Campaigns, discount codes, gift cards, and affiliate tracking
  - name: Membership
    description: Membership types, subscriptions, loyalty programs, and points
  - name: Communications
    description: Email / SMS templates, automations, webhooks, and notifications
  - name: Admin
    description: Activity logs, API keys, notes, integrations, and system settings
  - name: Organizations
    description: "Multi-tenant org hierarchy: organizations, tenant groups, settings cascade"
  - name: Billing
    description: Operator subscription billing, invoices, usage metering, and plan admin
  - name: Widget
    description: Embeddable booking widget — config, products, checkout sessions
  - name: Waitlist
    description: Walk-in waitlist queue management

paths:
  /v1/auth/login:
    post:
      operationId: login
      summary: Authenticate with email and password
      description: Initiates a Kratos login flow. Returns JWT tokens on success, or an MFA challenge if the organization policy requires multi-factor authentication.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful or MFA challenge issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/auth/refresh:
    post:
      operationId: refreshToken
      summary: Refresh access token
      description: Exchanges a valid refresh token for a new access token and rotated refresh token via Hydra. The old refresh token is immediately invalidated.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
      responses:
        '200':
          description: New tokens issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/auth/logout:
    post:
      operationId: logout
      summary: Invalidate session
      description: Revokes the Kratos session, invalidates the Hydra refresh token, and deletes the Redis session metadata. The access token remains valid until its 15-minute TTL expires.
      tags:
        - Auth
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - refresh_token
              properties:
                refresh_token:
                  type: string
                  description: The refresh token to revoke
      responses:
        '200':
          description: Session successfully invalidated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Session invalidated
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/auth/session:
    get:
      operationId: getSession
      summary: Get current session info
      description: Returns current session details including identity traits, MFA enrollment status, active tenant, and available tenants.
      tags:
        - Auth
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Current session information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Session'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/auth/password/reset-request:
    post:
      operationId: requestPasswordReset
      summary: Request password reset email
      description: Initiates a Kratos recovery flow. Always returns 200 regardless of whether the email exists to prevent account enumeration. A 6-digit recovery code with a 1-hour expiry is sent via SES if the account exists.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '200':
          description: Recovery email sent if account exists
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: If an account with that email exists, a recovery email has been sent
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/auth/password/reset:
    post:
      operationId: completePasswordReset
      summary: Complete password reset with token
      description: Completes the Kratos password reset flow using the 6-digit recovery code. On success, invalidates all existing sessions and updates the password hash (argon2id).
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetConfirm'
      responses:
        '200':
          description: Password successfully updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Password updated
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/auth/mfa/enroll:
    post:
      operationId: enrollMfa
      summary: Enroll in MFA (TOTP)
      description: Initiates a Kratos settings flow to enroll a TOTP authenticator. Returns a QR code (base64 PNG) and the raw TOTP secret for manual entry. The enrollment is completed by calling POST /v1/auth/mfa/verify with the flow_id and a valid code.
      tags:
        - Auth
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaEnrollRequest'
      responses:
        '200':
          description: MFA enrollment initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  flow_id:
                    type: string
                    description: Kratos settings flow ID, required for verification step
                  qr_code:
                    type: string
                    description: Base64-encoded PNG QR code for authenticator app scanning
                  secret:
                    type: string
                    description: Raw TOTP secret for manual entry
                  totp_url:
                    type: string
                    description: otpauth:// URI
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/auth/mfa/verify:
    post:
      operationId: verifyMfa
      summary: Verify MFA code
      description: Verifies a TOTP, WebAuthn, or SMS OTP code during MFA enrollment or as the second factor during login. On successful enrollment, returns 12 single-use recovery codes.
      tags:
        - Auth
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MfaVerifyRequest'
      responses:
        '200':
          description: MFA code verified
          content:
            application/json:
              schema:
                type: object
                properties:
                  enrolled:
                    type: boolean
                    description: True if this was an enrollment verification
                  recovery_codes:
                    type: array
                    items:
                      type: string
                    description: Single-use recovery codes, present only on initial enrollment
                  access_token:
                    type: string
                    description: JWT access token, present only when verifying during login flow
                  refresh_token:
                    type: string
                    description: Refresh token, present only when verifying during login flow
                  expires_in:
                    type: integer
                    description: Access token TTL in seconds
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/auth/mfa:
    delete:
      operationId: disableMfa
      summary: Disable MFA
      description: Removes the MFA method from the Kratos identity. Requires password confirmation. Not available if organization policy enforces MFA.
      tags:
        - Auth
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - password
              properties:
                password:
                  type: string
                  description: Current password for confirmation
      responses:
        '200':
          description: MFA successfully disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/auth/mfa/status:
    get:
      operationId: getMfaStatus
      summary: Get MFA enrollment status
      description: Returns current MFA enrollment state, organization policy, grace period expiry, and recovery code count.
      tags:
        - Auth
      security:
        - bearerAuth: []
      responses:
        '200':
          description: MFA status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MfaStatus'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/auth/sso/{provider}/init:
    post:
      operationId: initSsoLogin
      summary: Initiate SSO login flow
      description: Initiates a Hydra-backed SSO authorization flow for the specified provider. Returns a redirect URL to the enterprise IdP (Okta, Azure AD, Google Workspace, custom SAML/OIDC).
      tags:
        - Auth
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
          description: SSO provider identifier (e.g., org UUID or slug)
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoInitRequest'
      responses:
        '200':
          description: SSO authorization URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  redirect_url:
                    type: string
                    description: URL to redirect the user to for IdP authentication
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/auth/sso/{provider}/callback:
    get:
      operationId: ssoCallback
      summary: SSO callback (OAuth2)
      description: Handles the OAuth2 authorization code callback from the enterprise IdP. Exchanges the code for tokens via Hydra, performs JIT provisioning if required, and returns JWT tokens.
      tags:
        - Auth
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
          description: SSO provider identifier
        - name: code
          in: query
          required: true
          schema:
            type: string
          description: OAuth2 authorization code
        - name: state
          in: query
          required: true
          schema:
            type: string
          description: OAuth2 state parameter for CSRF protection
      responses:
        '200':
          description: SSO authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/auth/sso/link:
    post:
      operationId: linkSsoProvider
      summary: Link SSO provider to account
      description: Links an SSO provider identity to an existing authenticated account, allowing the user to log in via SSO as an alternative to password.
      tags:
        - Auth
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SsoLinkRequest'
      responses:
        '200':
          description: SSO provider linked
          content:
            application/json:
              schema:
                type: object
                properties:
                  linked:
                    type: boolean
                  provider:
                    type: string
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/auth/sso/{provider}:
    delete:
      operationId: unlinkSsoProvider
      summary: Unlink SSO provider
      description: Removes the SSO provider link from the authenticated account. Requires at least one remaining authentication method (password or another SSO provider).
      tags:
        - Auth
      security:
        - bearerAuth: []
      parameters:
        - name: provider
          in: path
          required: true
          schema:
            type: string
          description: SSO provider identifier to unlink
      responses:
        '200':
          description: SSO provider unlinked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/auth/sso/providers:
    get:
      operationId: listSsoProviders
      summary: List available SSO providers
      description: Returns the list of SSO providers configured for the authenticated user's organization, including display names and whether SSO is enforced.
      tags:
        - Auth
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Available SSO providers
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        display_name:
                          type: string
                        protocol:
                          type: string
                          enum: [saml, oidc]
                        enforce_sso:
                          type: boolean
                  sso_enforced:
                    type: boolean
                    description: Whether SSO is required for this organization
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/auth/tenant-switch:
    post:
      operationId: switchTenant
      summary: Switch active tenant context
      description: Re-issues a Hydra JWT with a different tid claim without requiring re-authentication. The requested tenant_id must be present in the user's tenant_ids[] identity traits.
      tags:
        - Auth
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantSwitchRequest'
      responses:
        '200':
          description: New tokens scoped to the requested tenant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/tenants:
    get:
      operationId: listTenants
      summary: List tenants
      description: Returns a paginated list of all tenants. Restricted to platform administrators.
      tags:
        - Tenants
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Paginated list of tenants
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Tenant'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createTenant
      summary: Create tenant
      description: Creates a new tenant and triggers the IdentityProvisioningWorkflow to set up the initial admin user and Keto relation tuples.
      tags:
        - Tenants
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantCreateRequest'
      responses:
        '201':
          description: Tenant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/tenants/{id}:
    get:
      operationId: getTenant
      summary: Get tenant
      description: Returns the tenant record for the specified ID.
      tags:
        - Tenants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Tenant record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateTenant
      summary: Update tenant
      description: Updates mutable tenant fields. RLS ensures the caller can only update tenants within their authorized scope.
      tags:
        - Tenants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantUpdateRequest'
      responses:
        '200':
          description: Updated tenant record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tenant'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/tenants/{id}/settings:
    get:
      operationId: getTenantSettings
      summary: Get tenant settings
      description: Returns the full settings JSONB for the tenant, including MFA policy, SSO config, timezone, currency, and feature flags.
      tags:
        - Tenants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Tenant settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateTenantSettings
      summary: Update tenant settings
      description: Merges the provided settings object into the tenant's existing settings. Requires tenant admin permissions.
      tags:
        - Tenants
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TenantSettingsUpdateRequest'
      responses:
        '200':
          description: Updated tenant settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TenantSettings'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/locations:
    get:
      operationId: listLocations
      summary: List locations
      description: Returns a paginated list of locations for the authenticated tenant, filtered by RLS on the current tid claim.
      tags:
        - Locations
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Paginated list of locations
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createLocation
      summary: Create location
      description: Creates a new location under the authenticated tenant. Requires tenant admin permissions.
      tags:
        - Locations
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationCreateRequest'
      responses:
        '201':
          description: Location created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/locations/{id}:
    get:
      operationId: getLocation
      summary: Get location
      description: Returns the location record for the specified ID. RLS enforces tenant scope.
      tags:
        - Locations
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Location record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateLocation
      summary: Update location
      description: Updates mutable location fields. Requires tenant admin permissions.
      tags:
        - Locations
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdateRequest'
      responses:
        '200':
          description: Updated location record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Location'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteLocation
      summary: Delete location
      description: Soft-deletes the location by setting deleted_at. Requires tenant admin permissions. Associated schedules and resources are also soft-deleted.
      tags:
        - Locations
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Location deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/users:
    get:
      operationId: listUsers
      summary: List users
      description: Returns a paginated list of staff users for the authenticated tenant. Reads from the core.users projection table. Requires admin permissions.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Paginated list of users
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createUser
      summary: Create user
      description: Creates a new staff user. Triggers the IdentityProvisioningWorkflow which creates the Kratos identity, Keto relation tuples, and core.users projection row. Sends a welcome email with a password setup link.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserCreateRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/users/{id}:
    get:
      operationId: getUser
      summary: Get user
      description: Returns the user profile for the specified ID. Users can retrieve their own profile; admins can retrieve any user within the tenant.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateUser
      summary: Update user
      description: Updates the user profile. Admins can update any user in the tenant; users can update their own profile. Role assignments are not changed via this endpoint.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserUpdateRequest'
      responses:
        '200':
          description: Updated user profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteUser
      summary: Delete user
      description: Deactivates the user by setting the Kratos identity state to inactive and revoking all active sessions. Requires tenant admin permissions.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User deactivated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/roles:
    get:
      operationId: listRoles
      summary: List roles
      description: Returns all roles defined for the authenticated tenant, including built-in role templates (owner, admin, manager, staff, readonly) and custom roles.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Paginated list of roles
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createRole
      summary: Create role
      description: Creates a custom role with specified permissions. Permissions are stored as Keto relation tuples; the core.roles row is a read projection. Requires tenant admin permissions.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleCreateRequest'
      responses:
        '201':
          description: Role created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/roles/{id}:
    put:
      operationId: updateRole
      summary: Update role
      description: Updates a custom role's name, description, or permission set. Built-in role templates cannot be modified. Changes propagate to Keto relation tuples. Requires tenant admin permissions.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RoleUpdateRequest'
      responses:
        '200':
          description: Updated role
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Role'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteRole
      summary: Delete role
      description: Deletes a custom role. Users currently assigned this role will have it removed from their Keto relation tuples. Built-in role templates cannot be deleted. Requires tenant admin permissions.
      tags:
        - Users
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Role deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/time-clock:
    get:
      operationId: listTimeClockEntries
      summary: List time clock entries
      description: Returns a paginated list of time clock entries for the tenant. Admins see all entries; staff see only their own. Supports filtering by user, location, and date range.
      tags:
        - Time Clock
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
        - name: user_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter entries by user ID
        - name: location_id
          in: query
          required: false
          schema:
            type: string
            format: uuid
          description: Filter entries by location ID
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter entries on or after this date (ISO 8601)
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date
          description: Filter entries on or before this date (ISO 8601)
      responses:
        '200':
          description: Paginated list of time clock entries
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TimeClockEntry'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/time-clock/clock-in:
    post:
      operationId: clockIn
      summary: Clock in
      description: Records a clock-in event for the authenticated user at the specified location. Returns an error if the user is already clocked in.
      tags:
        - Time Clock
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - location_id
              properties:
                location_id:
                  type: string
                  format: uuid
                  description: Location where the user is clocking in
                notes:
                  type: string
                  maxLength: 500
                  description: Optional notes for this clock-in event
      responses:
        '201':
          description: Clock-in recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeClockEntry'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/time-clock/{id}/clock-out:
    post:
      operationId: clockOut
      summary: Clock out
      description: Records a clock-out event for the specified time clock entry. The entry must belong to the authenticated user and must have an open clock-in with no clock-out.
      tags:
        - Time Clock
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Time clock entry ID to clock out from
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  maxLength: 500
                  description: Optional notes for this clock-out event
      responses:
        '200':
          description: Clock-out recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeClockEntry'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/time-clock/{id}:
    put:
      operationId: updateTimeClockEntry
      summary: Update time clock entry (admin)
      description: Allows administrators to correct clock-in or clock-out times on an existing entry. Requires tenant admin or manager permissions. Changes are recorded in the audit log.
      tags:
        - Time Clock
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Time clock entry ID to update
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                clocked_in_at:
                  type: string
                  format: date-time
                  description: Corrected clock-in timestamp (ISO 8601)
                clocked_out_at:
                  type: string
                  format: date-time
                  description: Corrected clock-out timestamp (ISO 8601)
                notes:
                  type: string
                  maxLength: 500
                  description: Reason for the correction
      responses:
        '200':
          description: Updated time clock entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TimeClockEntry'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
  /v1/customers:
    get:
      operationId: listCustomers
      summary: List customers
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: A paginated list of customers
          content:
            application/json:
              schema:
                type: object
                required: [object, url, has_more, data]
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createCustomer
      summary: Create a customer
      tags:
        - Customers
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreateRequest'
      responses:
        '201':
          description: Customer created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/customers/search:
    get:
      operationId: searchCustomers
      summary: Search customers
      tags:
        - Customers
      parameters:
        - name: q
          in: query
          schema:
            type: string
          description: Full-text search query
        - name: email
          in: query
          schema:
            type: string
            format: email
        - name: phone
          in: query
          schema:
            type: string
        - name: segment
          in: query
          schema:
            type: string
          description: Customer segment identifier
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                type: object
                required: [object, url, has_more, data]
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

  /v1/customers/{id}:
    get:
      operationId: getCustomer
      summary: Get a customer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Customer object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateCustomer
      summary: Update a customer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateRequest'
      responses:
        '200':
          description: Updated customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteCustomer
      summary: Soft-delete a customer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/customers/{id}/payment-methods:
    get:
      operationId: listCustomerPaymentMethods
      summary: List payment methods for a customer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: A paginated list of payment methods
          content:
            application/json:
              schema:
                type: object
                required: [object, url, has_more, data]
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PaymentMethod'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      operationId: addCustomerPaymentMethod
      summary: Add a payment method to a customer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodCreateRequest'
      responses:
        '201':
          description: Payment method added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethod'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/customers/{id}/payment-methods/{paymentMethodId}:
    delete:
      operationId: removeCustomerPaymentMethod
      summary: Remove a payment method from a customer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: paymentMethodId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/customers/{id}/credits:
    get:
      operationId: listCustomerCredits
      summary: List credits for a customer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: A paginated list of customer credits
          content:
            application/json:
              schema:
                type: object
                required: [object, url, has_more, data]
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerCredit'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      operationId: addCustomerCredit
      summary: Issue a credit to a customer
      tags:
        - Customers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerCreditCreateRequest'
      responses:
        '201':
          description: Credit issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerCredit'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/participants:
    get:
      operationId: listParticipants
      summary: List participants
      tags:
        - Participants
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: A paginated list of participants
          content:
            application/json:
              schema:
                type: object
                required: [object, url, has_more, data]
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Participant'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createParticipant
      summary: Create a participant
      tags:
        - Participants
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParticipantCreateRequest'
      responses:
        '201':
          description: Participant created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/participants/{id}:
    get:
      operationId: getParticipant
      summary: Get a participant
      tags:
        - Participants
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Participant object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateParticipant
      summary: Update a participant
      tags:
        - Participants
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParticipantUpdateRequest'
      responses:
        '200':
          description: Updated participant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteParticipant
      summary: Delete a participant
      tags:
        - Participants
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/waivers:
    get:
      operationId: listWaivers
      summary: List waiver templates
      tags:
        - Waivers
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: A paginated list of waiver templates
          content:
            application/json:
              schema:
                type: object
                required: [object, url, has_more, data]
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WaiverTemplate'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createWaiver
      summary: Create a waiver template
      tags:
        - Waivers
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaiverTemplateCreateRequest'
      responses:
        '201':
          description: Waiver template created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaiverTemplate'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/waivers/{id}:
    get:
      operationId: getWaiver
      summary: Get a waiver template
      tags:
        - Waivers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Waiver template object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaiverTemplate'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateWaiver
      summary: Update a waiver template
      tags:
        - Waivers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WaiverTemplateUpdateRequest'
      responses:
        '200':
          description: Updated waiver template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaiverTemplate'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteWaiver
      summary: Delete a waiver template
      tags:
        - Waivers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/waivers/{id}/sign:
    post:
      operationId: signWaiver
      summary: Sign a waiver
      tags:
        - Waivers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [participant_id, signature_data]
              properties:
                participant_id:
                  type: string
                signature_data:
                  type: string
                  description: Base64-encoded signature image or token
      responses:
        '201':
          description: Waiver signature recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WaiverSignature'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/waivers/{id}/signatures:
    get:
      operationId: listWaiverSignatures
      summary: List signatures for a waiver template
      tags:
        - Waivers
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: A paginated list of waiver signatures
          content:
            application/json:
              schema:
                type: object
                required: [object, url, has_more, data]
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/WaiverSignature'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/reviews:
    get:
      operationId: listReviews
      summary: List reviews
      tags:
        - Reviews
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: A paginated list of reviews
          content:
            application/json:
              schema:
                type: object
                required: [object, url, has_more, data]
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Review'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createReview
      summary: Submit a review
      tags:
        - Reviews
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReviewCreateRequest'
      responses:
        '201':
          description: Review submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/reviews/{id}:
    get:
      operationId: getReview
      summary: Get a review
      tags:
        - Reviews
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Review object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Review'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    delete:
      operationId: deleteReview
      summary: Delete a review
      tags:
        - Reviews
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/products:
    get:
      operationId: listProducts
      summary: List products
      tags:
        - Products
      parameters:
        - name: category_id
          in: query
          schema:
            type: string
          description: Filter by category
        - name: timing_model
          in: query
          schema:
            type: string
            enum: [fixed, flexible, open, recurring, capacity, resource]
          description: Filter by scheduling timing model
        - name: status
          in: query
          schema:
            type: string
            enum: [active, archived]
          description: Filter by product status
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: A paginated list of products
          content:
            application/json:
              schema:
                type: object
                required: [object, url, has_more, data]
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createProduct
      summary: Create a product
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductCreateRequest'
      responses:
        '201':
          description: Product created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/products/{id}:
    get:
      operationId: getProduct
      summary: Get a product
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Product object with pricing tiers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateProduct
      summary: Update a product
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateRequest'
      responses:
        '200':
          description: Updated product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: archiveProduct
      summary: Archive a product
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/products/{id}/questions:
    get:
      operationId: listProductQuestions
      summary: List booking questions for a product
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: A paginated list of product questions
          content:
            application/json:
              schema:
                type: object
                required: [object, url, has_more, data]
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProductQuestion'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    post:
      operationId: addProductQuestion
      summary: Add a booking question to a product
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductQuestionCreateRequest'
      responses:
        '201':
          description: Question added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductQuestion'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/products/{id}/questions/{questionId}:
    put:
      operationId: updateProductQuestion
      summary: Update a booking question on a product
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: questionId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductQuestionUpdateRequest'
      responses:
        '200':
          description: Updated question
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductQuestion'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteProductQuestion
      summary: Delete a booking question from a product
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: questionId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/categories:
    get:
      operationId: listCategories
      summary: List product categories
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: A paginated list of categories
          content:
            application/json:
              schema:
                type: object
                required: [object, url, has_more, data]
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createCategory
      summary: Create a product category
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryCreateRequest'
      responses:
        '201':
          description: Category created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/categories/{id}:
    get:
      operationId: getCategory
      summary: Get a product category
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Category object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateCategory
      summary: Update a product category
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CategoryUpdateRequest'
      responses:
        '200':
          description: Updated category
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteCategory
      summary: Delete a product category
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/extras:
    get:
      operationId: listExtras
      summary: List extras and add-ons
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: A paginated list of extras
          content:
            application/json:
              schema:
                type: object
                required: [object, url, has_more, data]
                properties:
                  object:
                    type: string
                    enum: [list]
                  url:
                    type: string
                  has_more:
                    type: boolean
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Extra'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      operationId: createExtra
      summary: Create an extra or add-on
      tags:
        - Products
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtraCreateRequest'
      responses:
        '201':
          description: Extra created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extra'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/extras/{id}:
    get:
      operationId: getExtra
      summary: Get an extra or add-on
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Extra object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extra'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      operationId: updateExtra
      summary: Update an extra or add-on
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtraUpdateRequest'
      responses:
        '200':
          description: Updated extra
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Extra'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      operationId: deleteExtra
      summary: Delete an extra or add-on
      tags:
        - Products
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Deleted confirmation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
  /v1/schedules:
    get:
      tags:
        - Scheduling
      summary: List schedules
      operationId: listSchedules
      description: List product schedules for the current tenant. Returns operating schedules that define days, hours, and slot generation rules for products.
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
        - name: location_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter schedules by location
        - name: product_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter schedules by product
      responses:
        '200':
          description: Paginated list of schedules
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Schedule'
                  pagination:
                    type: object
                    properties:
                      next_cursor:
                        type: [string, 'null']

                      has_more:
                        type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      tags:
        - Scheduling
      summary: Create schedule
      operationId: createSchedule
      description: Create a new product schedule defining operating days, hours, and slot templates for a location.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleCreateRequest'
      responses:
        '201':
          description: Schedule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/schedules/{id}:
    get:
      tags:
        - Scheduling
      summary: Get schedule
      operationId: getSchedule
      description: Retrieve a single schedule by ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      tags:
        - Scheduling
      summary: Update schedule
      operationId: updateSchedule
      description: Update an existing schedule's days, hours, or slot templates.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleUpdateRequest'
      responses:
        '200':
          description: Updated schedule
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Scheduling
      summary: Delete schedule
      operationId: deleteSchedule
      description: Delete a schedule. Slot instances already generated from this schedule are not affected.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Schedule deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/resources:
    get:
      tags:
        - Scheduling
      summary: List resources
      operationId: listResources
      description: List bookable resources (rooms, lanes, equipment) for the current tenant.
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
        - name: location_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter resources by location
        - name: resource_type_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by resource type
      responses:
        '200':
          description: Paginated list of resources
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Resource'
                  pagination:
                    type: object
                    properties:
                      next_cursor:
                        type: [string, 'null']

                      has_more:
                        type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      tags:
        - Scheduling
      summary: Create resource
      operationId: createResource
      description: Create a new bookable resource such as a room, lane, or piece of equipment.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceCreateRequest'
      responses:
        '201':
          description: Resource created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/resources/{id}:
    get:
      tags:
        - Scheduling
      summary: Get resource
      operationId: getResource
      description: Retrieve a single resource by ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      tags:
        - Scheduling
      summary: Update resource
      operationId: updateResource
      description: Update an existing resource's name, capacity, or configuration.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceUpdateRequest'
      responses:
        '200':
          description: Updated resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Resource'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'
    delete:
      tags:
        - Scheduling
      summary: Delete resource
      operationId: deleteResource
      description: Soft-delete a resource. Existing bookings assigned to this resource are not affected.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Resource deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'

  /v1/resource-types:
    get:
      tags:
        - Scheduling
      summary: List resource types
      operationId: listResourceTypes
      description: List resource type definitions (e.g. Lane, Room, Kart, Wristband) for the tenant.
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Paginated list of resource types
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ResourceType'
                  pagination:
                    type: object
                    properties:
                      next_cursor:
                        type: [string, 'null']

                      has_more:
                        type: boolean
        '401':
          $ref: '#/components/responses/UnauthorizedError'
    post:
      tags:
        - Scheduling
      summary: Create resource type
      operationId: createResourceType
      description: Create a new resource type that classifies bookable resources.
      parameters:
        - $ref: '#/components/parameters/IdempotencyKeyParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceTypeCreateRequest'
      responses:
        '201':
          description: Resource type created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceType'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/resource-types/{id}:
    get:
      tags:
        - Scheduling
      summary: Get resource type
      operationId: getResourceType
      description: Retrieve a single resource type by ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/ExpandParam'
      responses:
        '200':
          description: Resource type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceType'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
    put:
      tags:
        - Scheduling
      summary: Update resource type
      operationId: updateResourceType
      description: Update the name or configuration of an existing resource type.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceTypeUpdateRequest'
      responses:
        '200':
          description: Updated resource type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceType'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          $ref: '#/components/responses/NotFoundError'
        '422':
          $ref: '#/components/responses/ValidationError'

  /v1/availability-blocks:
    get:
      tags:
        - Scheduling
      summary: List availability blocks
      operationId: listAvailabilityBlocks
      description: List availability blocks (closures, maintenance windows, holiday overrides) that prevent slot generation or booking for a date range.
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/StartingAfterParam'
        - $ref: '#/components/parameters/EndingBeforeParam'
        - $ref: '#/components/parameters/ExpandParam'
        - name: location_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter blocks by location
        - name: resource_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter blocks by resource
        - name: start_date
          in: query
          schema:
            type: string
[...]
